/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* __________________________________________ */

.iphone11Bg {
  background-color: black;
}

.fa-solid {
  font-size: 12px;
  }
/* Watch and Card styling */
.watchBg {
  background-image: url(./../images/home/watch-series-5.jpg);
  height: 530px;
  background-position-x: center;
  background-position-y: center;
}

.cardBg {
  background-image: url(./../images/home/apple-card.jpg);
  height: 530px;
  background-position-x: center;
  background-position-y: center;
}

/* Tv and AirPods Pro Styling */

.tV-Bg {
  background-image: url(./../images/home/apple-tv-background.jpg);
  height: 530px;
  background-position-x: center;
  background-position-y: center;
}

.airPodsProBg {
  background-image: url(./../images/home/air-pods.jpg);
  height: 530px;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color:black;
}

.servantLogo {
padding-top: 100px;
}

.wachTrailer {
  padding-top: 170px;
}

.iPodWrapper {
  background-image: url(./../images/home/new-ipad.jpg);
  height: 530px;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* iPhone 11 Pro Styling */
.iphone11ProBg {
  background-image: url(./../images/home/iphone11-pro-bg.jpg);
  height: 530px;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* iPhone 11 Styling */
.iphone11Bg {
  background-image: url(./../images/home/iphone11-bg.jpg);
  height: 530px;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* MacBook Pro and iPod Styling */

.macBookProBg {
  background-image: url(./../images/home/macbook-pro.jpg);
  height: 530px;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
}


/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/

/* Watch and Card */
@media (min-width: 768px) {
  .Watch-Wrapper {
    width: 48.5%;
  }

  .Card-Wrapper {
    width: 48.5%;
  }
  .Watch-Card-inner-Wrapper {
    display: flex;
    justify-content: space-between;
  }
}

/* TV and AirPods */
@media (min-width: 768px) {
  .Tv-wrapper {
    width: 48.5%;
  }

  .aiPodsProWrapper {
    width: 48.5%;
  }
  .TV-and-AirPods-Section {
    display: flex;
    justify-content: space-between;
  }
}

/* MacBook Pro and iPods */
@media (min-width: 768px) {
  .MacBook-Wrapper {
    width: 48.5%;
  }

  .Ipod-Wrapper {
    width: 48.5%;
  }
  .MacBook-Ipod-inner-Wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }

  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
